<p id="notice"><%= notice %></p>

<div class="container-fluid league-teams">
  <div class="league-heading">
    <h1><%= @league.name %></h1>
    <h3><small>Commissioner: </small><%= @league.user.email %></h3>
    <hr>
  </div>

  <div class="container league-table">
    <div class="col-md-8 col-md-offset-2">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Teams</th>
            <th>Owners</th>
          </tr>
        </thead>

        <tbody>
          <% @league.teams.each_with_index do |team, index| %>
            <tr>
              <td><%= index + 1 %>.</td>
              <td><%= link_to team.name, league_team_path(@league, team) %></td>
              <td><%= team.user.email %>
              <% if current_user == team.user %>
                <td>
                  <%= link_to 'Edit Team', edit_league_team_path(team.league, team), class: "user-button"%>
                  <%= link_to 'Delete Team', [team.league, team], method: :delete, class: "user-button button-cancel" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>  

      <%= link_to 'Add Team', new_league_team_path(@league), class: "user-button" %> 
      <%= link_to 'Calendar', league_events_path(@league), class: "user-button" %>
    </div>
  </div> 
</div>

